
MyInvencibleLibrary/build-MyInvencibleLibrary-Desktop_Qt_5_12_1_GCC_64bit-Default/

MyInvencibleLibrary/Build/bin/

*.user

MyInvencibleLibrary/dbms/

MyInvencibleLibrary/include/

MyInvencibleLibrary/static/

MyInvencibleLibrary/\.idea/

\.idea/

MyInvencibleLibrary/cmake-build-debug/
